<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary app-navbar-container">
  <a class="navbar-brand" href="#">
    <img src="assets/icon/cat.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <span class="navbar-text text-light">
    Bola
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active text-light" aria-current="page" href="#2020">2020</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#2019">2019</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#2018">2018</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#2017">2017</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link text-light" href="#2016">2016</a>
      </li>      
    </ul>    
  </div>
</nav>