<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="hover">
    <div class="carousel-inner">
        <div *ngFor="let source of config.sourceList; first as isFirst" class="carousel-item bg-secondary"
            [class.active]="isFirst">
            <div class="d-flex align-items-center justify-content-center app-carousel-img-container">
                <img class="img-fluid app-carousel-img" src="{{config.path}}{{source.Name}}" alt="{{source.Date}}">
                <h5 class="carousel-caption">{{source.Date}}</h5>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

